.footer {
    position: absolute;
    bottom: 2%;
    font-size: 1rem;
    opacity: .5;
    font-weight: 600;
    color: $dark-color;

    &__item {
        &-link {
            text-decoration: none;
            color: $cyan-color;
        }
    }
}