.cards {
    .generator {
        flex-basis: 25%;
        background-color: $dark-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: $cards-shadow;

        &__header {
            font-weight: 700;
            font-size: 1.5rem;
            color: $main-bg-color;
            text-transform: uppercase;
            text-align: center;
        }

        &-password {
            display: flex;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            height: auto;
            padding: 15px;
            background-color: $main-bg-color;
            border-radius: 5px;

            &__item {
                text-align: center;
                font-size: 1.5rem;
                color: $dark-color;
                font-weight: 600;
                width: 95%;
                height: auto;
                font-family: 'Raleway', sans-serif;
                background-color: $main-bg-color;
                border: none;
                outline: none;
            }
        }

        &-length {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
            height: auto;
            padding: 15px;
            background-color: $main-bg-color;
            border-radius: 5px;

            &__title {
                text-align: left;
                font-size: .75rem;
                color: $dark-color;
                font-weight: 500;
                text-transform: uppercase;

                input {
                    color: $dark-color;
                    font-size: 1rem;
                    font-weight: 600;
                    width: 10%;
                    background-color: $main-bg-color;
                    outline: none;
                    border: none;
                    font-family: 'Raleway', sans-serif;
                }
            }

            &__slider {
                position: relative;
                width: 80%;
                display: flex;
                align-items: center;
            }

            &::before,
            &::after {
                position: absolute;
                color: $dark-color;
                font-size: 1rem;
                font-weight: 600;
            }

            &::before {
                content: attr(data-min);
                top: 55%;
            }

            &::after {
                content: attr(data-max);
                right: 10px;
                top: 55%;
            }
        }

        &-settings {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
            height: auto;
            padding: 15px;
            background-color: $main-bg-color;
            border-radius: 5px;

            &__title {
                text-align: left;
                font-size: .75rem;
                color: $dark-color;
                font-weight: 500;
                text-transform: uppercase;
            }

            .settings {
                position: relative;
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & input[type="checkbox"] {
                    display: none;
                }

                & input[type="checkbox"]:checked+.toggle {
                    background-color: $cyan-color;
                }

                .toggle {
                    background-color: $dark-color;
                    position: absolute;
                    border-radius: 5px;
                    top: 0;
                    right: 0;
                    width: 15%;
                    height: 25px;
                    -webkit-transition: all 300ms ease;
                    transition: all 300ms ease;

                    &__item {
                        position: absolute;
                        -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;
                        cursor: pointer;
                    }
                }

                & input[type="checkbox"]:checked+.toggle {
                    background-color: $dark-color;
                }

                & input[type="checkbox"]:checked+.toggle .toggle__item {
                    left: calc(100% - 19px - 3px);
                    background-color: $cyan-color;
                }

                & .toggle {
                    background-color: $dark-color;
                    -webkit-box-shadow: $toggle-shadow;
                    box-shadow: $toggle-shadow;
                    border-radius: 5px;
                }

                & .toggle__item {
                    width: calc(25px - 6px);
                    height: calc(25px - 6px);
                    border-radius: 5px;
                    left: 3px;
                    top: 3px;
                    background-color: #e6e6e6;
                }
            }
        }
    }
}