.cards {
    .generator {
        &-level {
            margin-top: 20px;
            width: 100%;
            height: auto;

            &__line {
                width: 100%;
                height: 5px;
                border: none;
                border-radius: 5px;
                background-color: $main-bg-color;

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 5px;
                }
            }

            &__status {
                // visibility: hidden;
                margin-top: 5px;
                font-weight: 500;
                text-align: center;
                color: $main-bg-color;

                span {
                    text-transform: uppercase;
                }
            }
        }

        .weak {
            background-color: red;
            width: 25%;
            border-radius: 5px 0 0 5px;
        }
    }
}