.cards {
    .passwords {
        flex-basis: 70%;
        background-color: $dark-color;
        border-radius: 10px;
        box-shadow: $cards-shadow;
        padding: 15px;

        &__header {
            font-weight: 700;
            font-size: 1.5rem;
            color: $main-bg-color;
            text-transform: uppercase;
        }

        &__recent {
            display: flex;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            height: auto;
            padding: 15px;
            background-color: $main-bg-color;
            border-radius: 5px;

            label {
                input[type='checkbox'] {
                    display: none;
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    border: solid 2px $cyan-color;
                    border-radius: 100px;
                    cursor: pointer;

                    span {
                        display: none;
                        width: 75%;
                        height: 75%;
                        border-radius: 100px;
                        background-color: $cyan-color;
                    }
                }

                input[type='checkbox']:checked+div {
                    box-shadow: $checked-shadow;
                }

                input[type='checkbox']:checked+div span {
                    display: block;
                }
            }

            &-item {
                font-size: 1.5rem;
                color: $dark-color;
                font-weight: 600;
                width: 95%;
                font-family: 'Raleway', sans-serif;
                height: auto;
                background-color: $main-bg-color;
                border: none;
                outline: none;
            }

            &-icons {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}