@import './main/variables';
@import './main/fonts';
@import './main/animations';
@import './main/button';
@import './main/icons';
@import './main/alerts';

@import './structure/header';
@import './structure/generator';
@import './structure/slider';
@import './structure/passwords';
@import './structure/cards';
@import './structure/footer';

@import './main/media';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $main-bg-color;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}