$main-bg-color: #EAEAEA;
$cyan-color: #3FC1C9;
$pink-color: #FC5185;
$dark-color: #393E46;
$yellow-color: #F5EA5A;
$green-color: #38E54D;
$header-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
$cards-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
$checked-shadow: rgba(63, 193, 201, 1) 0px 0px 15px;
$toggle-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);